* {
    margin: 0;
    padding: 0;
}

header, footer, section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

header {
    background-color: rgb(19, 19, 19);
    height: 10vh;
    font-weight: bold;
    color: white;
    position: sticky;
    top: 0;
}
nav{
    position:top-left;
    margin-left: auto;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}
nav a:hover{
    background-color: rgb(54, 54, 54);
}

section:nth-child(1) {
    background-color: lightgrey;
    height: 90vh;
    flex-direction: column;
    background-image: url("https://s1.bwallpapers.com/wallpapers/2014/01/24/abstract-1920x1080_112537987.jpg");
    background-size: cover;
}
section:nth-child(1) p{
    position:relative;
    margin-right: auto;
    margin-left: 125px;
    color: white;
    font-size: 20px;
    background-color: rgb(19, 19, 19);
}

section:nth-child(2) {
    background-color: rgb(73, 165, 240);
    height: 100vh;
    font-size: 3vh;
}

#projetos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.tituloProjetos{
    margin-bottom: 20px;
    padding: 10px;
    
}

#lab1{
    grid-area: lab1;
}

#lab2{
    grid-area: lab2;
}

#lab3{
    grid-area: lab3;
}

.linksProjetos{
    
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: 'lab1 .'
                         '. lab2'
                         'lab3 .';
    gap: 20px;

    justify-content: center;
    margin: 0 auto;
}



.linksProjetos div{
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 30px;
}

.linksProjetos a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

section:nth-child(3) {
    background-color: rgb(0, 0, 0);
    height: 90vh;
    font-size: 3vh;
    flex-direction: column;
    padding: 30px;
    color: white;
}

#disciplina img{
        width: 200px;
        height: 200px;
    }

@media (min-width: 600px) {
    section:nth-child(3){
        flex-direction: row;
        
    }
    
}

footer {
    background-color: lightblue;
    height: 10vh;
    font-weight: bold;
    color: rgb(18, 29, 31);
}