*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
}

header {
  background: rgb(66, 175, 66); 
  color: white;
  padding: 15px 30px;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  transition: background 0.3s;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.2);
  
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }

  nav {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  nav a {
    text-align: center;
    padding: 10px;
  }
}

#sectionsLinks{
  height: 90vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3f/CentrosulUdi2.jpg");
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;
  padding: 200px;
}

#sectionsLinks a {
  background: rgba(182, 198, 202, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.3s, transform 0.3s;
  border: black 2px solid;
}



#fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100vh;
}

.fotografias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.fotografias img {
  width: 300px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

.fotografias img:hover {
  transform: scale(1.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#video{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  iframe{
    width: 900px;
    height: 500px;
  }
}

#poema{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  padding: 20px;
}

@media (max-width: 800px) {
  
  #sectionsLinks {
    flex-direction: row;
    padding: 50px 20px;
    height: 100vh;
    gap: 5px;
    align-items: start;
  }

  #sectionsLinks a {
    width: 80%;
    text-align: center;
  }

  
  .fotografias img {
    width: 200px;
  }

  
  #video {
    height: 50vh;
    padding: 20px 0;

    iframe{
      width: 100%;
      height: auto;
    }
  }

  
  #poema {
    height: auto;
    padding: 20px;
  }
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
}






#poesia {
    p:nth-of-type(odd) {
        color: blue;
    }
    p:nth-of-type(even) {
        color: green;
    }
}