* {
    margin: 0;
    padding: 0;
}

body {
    background-color: snow;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(78, 183, 110);
    height: 10vh;
    color: white;
    position: sticky;
    top: 0;
}


nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

nav a {
    text-decoration: none;
    background-color: rgb(30, 167, 71);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 2px 5px black;
}

#secP {
    background-color: rgb(200, 230, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#produtos {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 2rem;
    text-align: center;
    justify-items: center;
    padding: 20px;


}

#produtos article {
    padding: 1.5rem;
    background-color: snow;
    max-width: 300px;
    margin-top: 15px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#produtos article img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    object-fit: contain;
    padding: 20px;
}

#produtos article button {

    padding: 5px;
    border-radius: 5px;

}

#produtos article button:hover {
    transform: scale(1.05);
}


#secC {
    height: 90vh;
    background-color: rgb(165, 214, 167);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#cesto {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 2rem;
    text-align: center;
    justify-items: center;
    padding: 20px;


}

#cesto article {
    padding: 1.5rem;
    background-color: beige;
    max-width: 300px;
    margin-top: 15px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

#cesto article img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    object-fit: contain;
    padding: 20px;
}

#cesto article button {

    padding: 5px;
    border-radius: 5px;

}

#cesto article button:hover {
    transform: scale(1.05);
}